
#loader {
  position:fixed; inset:0;
  background:black;
  display:flex; justify-content:center; align-items:center;
  z-index:9999;
}
.camera-box { position:relative; }
#flash {
  position:absolute;
  width:30px; height:18px;
  background:white; top:40px; left:160px;
  opacity:0; border-radius:3px;
}
#flash.active {
  opacity:1;
  box-shadow:0 0 40px 20px white;
}
#loader.hide {
  opacity:0; visibility:hidden;
  transition:0.6s ease;
}
